*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-image: url(./bg-image.png);
    background-color: #ff7978;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.left{
    width: 800px;
    height: 500px;
}
.left h1{
    text-align: left;
    margin-top: 250px;
    margin-left: 170px;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}
.left p{
    text-align: left;
    margin-left: 170px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;

    
}
.right{
    width: 850px;
    margin-right: 80px;
    
}
.buttin{
    width: 260px;
    height: 40px;
    margin-top: 100px;
    align-items: center;

}
.buttin button{
    padding: 5 5 5 5px;
    width: 470px;
    height: 50px;
    margin-left: 20px;

    border-radius: 6px;
    color: white;
    background-color:#5e54a3;
    align-items: center;
    font-family: sans-serif;


}
.part{
    background-color: white;
    width: 470px;
    height: 350px;
    margin-top: 30px;
    margin-left: 20px;
    box-shadow: 10px;
    padding: 40px;
    gap: 50px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.part input{
    width: 400px;
    margin-top: 10px;
    padding: 10px;
    font-family: sans-serif;
}
.bottin button{
    padding: 10px;
    width: 400px;
    height: 50px;
    margin-top: 10px;
    border-radius: 6px;
    color: white;
    background-color:#36cd8a;
    font-family: sans-serif;

    
}
.below p{
    margin-top: 10px;
    margin-left: 25px;
    color: gray;
    font-size: 12px;
    font-family: sans-serif;

    
}
.below p a{
    color: red;
    text-decoration: solid;
}